# **Week 10 Testing Work Done Evidence**

Following images are screenshots of testing coverage reports before and after adding new test cases. 

## Login Page Password Visible

| After                                                        | Before                                                       |
| ------------------------------------------------------------ | ------------------------------------------------------------ |
| ![password_invisible](https://github.com/RachelYang1999/SOFT3888-Evidence/blob/main/Week10/img/password_invisible.png) | ![coverage_report_before](https://github.com/RachelYang1999/SOFT3888-Evidence/blob/main/Week7/img/coverage_report_before.png) |

